.spec {
    height: 25vh;
    overflow: hidden;
    aspect-ratio: .9/1;
    transition: all .2s ease-in-out;
}

.spec:hover {
    transform: scale(1.1);
}

.spec-icon-container {
    width: 100%;
    height: 75%;
}

i.spec-icon {
    height: 100%;
    aspect-ratio: 1/1;
    display: inline-block;
}