.desc-row {
    display: inline-grid;
}

.rows {
    grid-template-rows: auto max-content;
    grid-row-gap: 5vh;
}

.columns {
    grid-template-columns: auto auto;
    grid-column-gap: 2.5vw;
}

.desc-image {
    height: 35vh;
    overflow: hidden;
}