.desc-row {
    width: 100%;
    display: inline-grid;
}

.rows {
    grid-template-rows: auto max-content;
}

.columns {
    grid-template-columns: 50% 50%;
}

.desc-image {
    height: 35vh;
    overflow: hidden;
    width: inherit;
}

.d-image {
    max-width: 100%;
    min-height: 100%;
}

.no-gap {
    grid-column-gap: 0 !important;
    grid-row-gap: 0 !important;
}