.advantages-container {
    width: 100%;
    display: inline-grid;
}

.advantages-rows {
    grid-template-rows: auto auto;
}

.advantages-cols {
    grid-template-columns: 50% 50%;
}

.advantages-image-container {
    height: 75vh;
    position: relative;
}

.advantages-image {
    height: 100%;
}

.advantages {
    width: 100%;
    height: 100%;
    display: inline-grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
}

a.advantage {
    color: inherit !important;
    text-decoration: inherit !important;
}

div.advantage {
    width: 100%;
    height: 100%;
    display: table;
}

div.advantage-cell {
    display: table-cell;
    vertical-align: middle;
}

i.advantage {
    height: 20vh;
}

.very-center {
    top: 50%;
    left: 50%;
    width: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
}

div.advantage-hover {
    transition: 0.25s ease;
}

div.advantage-hover:hover {
    transform: translate(-30px, -30px);
}