.col.advantages {
    position: relative;
}

.col.hover {
    transition: 0.25s ease;
}

.col.hover:hover {
    transform: translate(-30px, -30px);
}

.row.main {
    min-height: 75vh;
    overflow: hidden;
}

.row.advantages {
    min-height: 50%;
}

a.advantages {
    color: inherit !important;
    text-decoration: inherit !important;
}

img.main {
    left: 0;
    height: 100%;
    position: absolute;
}

.icon.advantages {
    height: 20vh !important;
    margin-top: 10%;
}

.very-center {
    top: 50%;
    left: 50%;
    width: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
}