.icon {
    height: 5vh;
    aspect-ratio: 1/1;
    display: inline-block;
    background-color: #241474;
}

.allergies {
    -webkit-mask-size: cover;
    -webkit-mask-image: url(icons/allergies.svg);
    mask-size: cover;
    mask-image: url(icons/allergies.svg);
}

.blood_pressure {
    -webkit-mask-size: cover;
    -webkit-mask-image: url(icons/blood_pressure.svg);
    mask-size: cover;
    mask-image: url(icons/blood_pressure.svg);
}

.cervical_cancer {
    -webkit-mask-size: cover;
    -webkit-mask-image: url(icons/cervical_cancer.svg);
    mask-size: cover;
    mask-image: url(icons/cervical_cancer.svg);
}

.city {
    -webkit-mask-size: cover;
    -webkit-mask-image: url(icons/city.svg);
    mask-size: cover;
    mask-image: url(icons/city.svg);
}

.coughing {
    -webkit-mask-size: cover;
    -webkit-mask-image: url(icons/coughing_alt.svg);
    mask-size: cover;
    mask-image: url(icons/coughing_alt.svg);
}

.eyeglasses {
    -webkit-mask-size: cover;
    -webkit-mask-image: url(icons/eyeglasses.svg);
    mask-size: cover;
    mask-image: url(icons/eyeglasses.svg);
}

.heart {
    -webkit-mask-size: cover;
    -webkit-mask-image: url(icons/heart.svg);
    mask-size: cover;
    mask-image: url(icons/heart.svg);
}

.echo {
    -webkit-mask-size: cover;
    -webkit-mask-image: url(icons/heart_cardiogram.svg);
    mask-size: cover;
    mask-image: url(icons/heart_cardiogram.svg);
}

.entry {
    -webkit-mask-size: cover;
    -webkit-mask-image: url(icons/heart_cardiogram.svg);
    mask-size: cover;
    mask-image: url(icons/heart_cardiogram.svg);
}

.folder {
    -webkit-mask-size: cover;
    -webkit-mask-image: url(icons/folder.svg);
    mask-size: cover;
    mask-image: url(icons/folder.svg);
}

.kidneys {
    -webkit-mask-size: cover;
    -webkit-mask-image: url(icons/kidneys.svg);
    mask-size: cover;
    mask-image: url(icons/kidneys.svg);
}

.lactation {
    -webkit-mask-size: cover;
    -webkit-mask-image: url(icons/lactation.svg);
    mask-size: cover;
    mask-image: url(icons/lactation.svg);
}

.leg {
    -webkit-mask-size: cover;
    -webkit-mask-image: url(icons/leg.svg);
    mask-size: cover;
    mask-image: url(icons/leg.svg);
}

.menu {
    -webkit-mask-size: cover;
    -webkit-mask-image: url(icons/menu.svg);
    mask-size: cover;
    mask-image: url(icons/menu.svg);
}

.neurology {
    -webkit-mask-size: cover;
    -webkit-mask-image: url(icons/neurology.svg);
    mask-size: cover;
    mask-image: url(icons/neurology.svg);
}

.pregnant {
    -webkit-mask-size: cover;
    -webkit-mask-image: url(icons/pregnant.svg);
    mask-size: cover;
    mask-image: url(icons/pregnant.svg);
}

.stethoscope {
    -webkit-mask-size: cover;
    -webkit-mask-image: url(icons/stethoscope.svg);
    mask-size: cover;
    mask-image: url(icons/stethoscope.svg);
}

.ventilator {
    -webkit-mask-size: cover;
    -webkit-mask-image: url(icons/ventilator_alt.svg);
    mask-size: cover;
    mask-image: url(icons/ventilator_alt.svg);
}

.wheelchair {
    -webkit-mask-size: cover;
    -webkit-mask-image: url(icons/wheelchair_alt.svg);
    mask-size: cover;
    mask-image: url(icons/wheelchair_alt.svg);
}

.xray {
    -webkit-mask-size: cover;
    -webkit-mask-image: url(icons/xray.svg);
    mask-size: cover;
    mask-image: url(icons/xray.svg);
}

.location {
    -webkit-mask-size: cover;
    -webkit-mask-image: url(icons/geo_location.svg);
    mask-size: cover;
    mask-image: url(icons/geo_location.svg);
}

.mobile {
    -webkit-mask-size: cover;
    -webkit-mask-image: url(icons/mobile.svg);
    mask-size: cover;
    mask-image: url(icons/mobile.svg);
}

.phone {
    -webkit-mask-size: cover;
    -webkit-mask-image: url(icons/phone.svg);
    mask-size: cover;
    mask-image: url(icons/phone.svg);
}

.message {
    -webkit-mask-size: cover;
    -webkit-mask-image: url(icons/message.svg);
    mask-size: cover;
    mask-image: url(icons/message.svg);
}

.menu-grid {
    -webkit-mask-size: cover;
    -webkit-mask-image: url(icons/menu_grid.svg);
    mask-size: cover;
    mask-image: url(icons/menu_grid.svg);
}