.nav-link.header {
    color: #241474;
    font-size: 1.25rem;
}

.nav-link.header:hover {
    color: #8c6ea4;
}

.dropdown-item.header {
    color: #241474;
    font-size: 1.25rem;
}

.dropdown-item.header:hover {
    background-color: #DCC7D4;
}

.dropdown-item.header::selection {
    background: #ddabb1;
}

.nav-link.footer {
    color: #DCC7D4;
    font-weight: normal;
    padding-left: 0;
}

.nav-link.footer:hover {
    color: #ddabb1;
    font-weight: normal;
}

.footer {
    color: #DCC7D4;
    border-color: #DCC7D4;
    background-color: #8c6ea4;
}

.footer-secondary {
    background-color: #241474;
}

.nav-link.footer-secondary {
    color: #ddabb1;
}

.nav-link.footer-secondary:hover {
    color: #8c6ea4;
}

h6 {
    color: white;
}

.title {
    color: #241474;
}

.sub-title {
    color: #8c6ea4;
}

.title-button {
    color: white;
    background-color: #8c6ea4;
}

.card-body.services {
    color: white;
}

.col.advantages.left {
    color: white;
    background-color: #53ACE1;
}

.col.advantages.right {
    background-color: #C9D9E5;
}

.container-fluid.reminder {
    background-color: #8b1c3c;
}