.card.services {
    width: 15vw;
    aspect-ratio: 1 / 1;
}

.card-body.services {
    bottom: 0;
    width: 100%;
    position: absolute;
    text-align: center;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 90%);
}