.col.advantages {
    padding: 0;
}

.square {
    height: 45vh;
    margin: 0 auto;
    aspect-ratio: 1 / 1;
    position: relative;
}

.square-small {
    width: 50%;
    float: left;
    aspect-ratio: 1/1;
    display: inline-block;
}

img.icon {
    height: 45%;
    aspect-ratio: 1 / 1;
}

.very-center {
    top: 50%;
    left: 50%;
    width: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
}