.description {
    color: #fff;
    left: 15%;
    right: 15%;
    bottom: 0;
    height: 100%;
    position: absolute;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.description-text {
    position: relative;
    text-align: left;
    top: 30%;
}

.description-back {
    text-align: center;
}

.description-img {
    height: 50vh;
}

.title-button {
    float: left;
}