.col.advantages {
    position: relative;
}

.col.hover {
    transition: 0.25s ease;
}

.col.hover:hover {
    transform: translate(-30px, -30px);
}

.row.advantages {
    height: 50%;
}

.row.main {
    min-height: 70vh;
}

img.icon {
    margin-top: 10%;
    height: 50%;
    aspect-ratio: 1 / 1;
}

.very-center {
    top: 50%;
    left: 50%;
    width: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
}