.tab-cont {
    width: 100%;
    display: inline-grid;
    grid-template-columns: auto 1fr;
}

.tab-headers-cont {
    overflow-y: auto;
}

.tab-headers {
    display: grid;
    grid-auto-flow: column;
}

.tab-header {
    width: 15vw;
    float: right;
}

.tab-body {
    min-height: 10vh;
}

.drag-tab {
    width: 100%;
    display: inline-grid;
    grid-template-columns: auto 1fr;
}

.drag-icon {
    height: 2.5vh;
    aspect-ratio: 1/1;
    display: inline-block;
    background-color: #0f2147;
}